body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background-color: #fff;}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

#allwrap{width: 1860px; height: 100%; position: absolute;}


header{width: 100%; height: 105px; background-color: #fff;}
header ul li{list-style: none;}
header ul li a{text-decoration-line: none; color: #3c3c3c;}
header ul li{
  float: left;
  width: 260px;
  height: 100px;
  line-height: 100px;
  position: relative;
  text-align: center;
  color: #fff;
  right: 40px;
  margin-right: 50px;
  font-size: 50px;
  font-weight: 800;
}
header ul button{margin: 5px; position: absolute; top: 50.5px;}

#wrap2{width: 280px; height: 80%; top:140px; position: absolute;}
#wrap2 .왼쪽메뉴{position: relative; width: 230px; margin-left: 10px; margin-top: 80px; margin-right: 20px;}
#wrap2 div ul li{list-style: none; position: static; width: 200px; height: 60px; font-size: 35px; font-weight: 500px; margin-bottom: 200px; color: #fff;}
#wrap2 .intro{width: 200px;}
#wrap2 div ul li a{text-decoration-line: none; color : #CD8F49;}





#wrap3{width: 1290px; height: 1000px; top: 270px; left: 250px; position: absolute;}
#wrap3 h1{color: #464646;}
#wrap3 li{font-size: 20px; list-style: none; width: 1200px; height: 200px; outline-style: solid; outline-color: #000000; outline-width: 5px; margin-bottom: 10px; margin-top: 10px;}
#wrap3 h1{margin-left: 20px; font-size: 30px;}
#wrap3 strong{margin: 40px; margin-top: 10px; font-size: 40px; color: #000000;}
#wrap3 .page{position: absolute; left: 1090px; width: 150px; height: 40px;}
#wrap3 a{position: absolute; margin-left: 50px; text-decoration-line: none; color: #000000; font-size: 29px;}
#wrap3 a:hover{color: #464646;}




#ad{width: 250px; height: 650px; top: 180px; left: 1620px; position: absolute; outline: 1px dotted red;}
#ad img{position: absolute; width: 243px; margin-left: 3px; margin-top: 210px;}




footer{position: absolute; left:1580px; top: 24px; width: 288px; height: 100px;}
